{% extends "base/registro.html" %}

{% load static %}

{% block registro %}
    <div class="container">
        <h1 style="color:darkred;">Restablecimiento de contraseña enviado.</h1>
        <ul>
            <li>Le enviamos instrucciones por correo electrónico para configurar su contraseña.</li>
            <li>Si existe la cuenta con el correo electrónico que ingresó, debería recibirlos en breve.</li>
            <li>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado <b>(spam)</b>.</li>
            <p><a href="{% url 'login' %}">Inicio</a></p>
        </ul>
        <p></p>
        <p></p>
        <p></p>
    </div>   
{% endblock %}